/* :root {
  --color-bg: #fafafa;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
} */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --color-bg: #f7f6f6;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body.dark-theme {
  --color-bg: #202d36;
  --color-bg-secondary: #2b3743;
  --color-text: #ffffff;
}

.img-fluid {
  width: 100%;
}

/* Header */

.header {
  background-color: var(--color-bg-secondary);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header-container h1 {
  margin: 0.5rem 0;
}

.dark-mode-btn {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dark-mode-btn:hover {
  opacity: 0.5;
}

.dark-mode-btn i {
  margin-right: 0.25rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto 2rem auto;
}

.search-form {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  padding: 1rem;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.search-form input {
  background-color: var(--color-bg-secondary);
  border: none;
  outline: none;
}

.navbar select {
  background-color: var(--color-bg-secondary);
  border: none;
  outline: none;
  padding: 1rem;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.option {
  padding: 0.5rem;
}

/* Main */
.all-flags {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--color-bg-secondary);
  border-radius: 0.5rem;
}
.card-img {
  height: 50%;
  display: flex;
}

.card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-content {
  padding: 1rem;
}
.card-content h3 {
  cursor: pointer;
  text-decoration: underline;
}

/* One Card */

.one-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-back {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  margin-bottom: 3rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  border-color: rgba(113, 113, 113, 0.26);
  border-radius: 0.4rem;
  cursor: pointer;
}

.one-card-content {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  background-color: var(--color-bg-secondary);
  border-radius: 1rem;
}
.one-card-content p {
  margin-bottom: 0.1rem;
}
.img {
  grid-row: 1/4;
  margin-right: 4rem;
}
.img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.name {
  grid-column: 2/4;
}

.content1 {
  grid-column: 2/3;
}

.content2 {
  grid-column: 3/4;
}
.content3 {
  grid-column: 2/4;
}

.btn-border-countrie {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  padding: 0.5rem 0.5rem;
  outline: none;
  border-color: rgba(113, 113, 113, 0.26);
  border-radius: 0.4rem;
  cursor: pointer;
}

@media (max-width: 1390px) {
  .all-flags {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (max-width: 1000px) {
  .all-flags {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 640px) {
  .header-container {
    font-size: 0.7rem;
  }

  .navbar {
    display: block;
  }
  .search-form {
    margin-bottom: 1.5rem;
  }
  .filter {
    min-width: 50%;
  }
  .all-flags {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .one-card-content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    margin-bottom: 2rem;
  }
  .img {
    grid-row: 1/4;
    margin-right: 0rem;
  }
  .img img {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
  .name {
    grid-column: 1/-1;
  }

  .content1 {
    grid-column: 1/-1;
  }

  .content2 {
    grid-column: 1/-1;
  }
  .content3 {
    grid-column: 1/-1;
  }
}
